{% extends "login/header.html" %}

{% block content %}
<div class ='col-sm-6 col-sm-offset-2'>
<b><input type="button" value="&#9664;-- पीछे जाएँ" onclick="history.back(-1)" /></b>
{% if request.user.username%}


<h4> <font color="red">{{warn}}</font></h4>
<form method="POST" action="">
   {% csrf_token %}
	<div class="form-group">
	<h3>वेतन भुगतान के अपेक्षित तरीके के बारे में जानकारी दें:</h3>
	<br>
	<label for="mode">वेतन भुगतान का अपेक्षित प्रकार: </label>
	<select name="mode" class="form-control" id="multiselectio" multiple required>
	<option value="नकद भुगतान (CASH)">नकद भुगतान (CASH)</option>
	<option value="PAYTM">PAYTM</option>
	<option value="श्रमिक बैंक खाते में सीधे अंतरण">कर्मचारी के बैंक खाते में सीधे अंतरण</option>
	<option value="UPI">UPI</option>
	<option value="अन्य (Other)">अन्य (Other)</option>
	</select>
	</div>
	<br>
		<h4>अपने बैंक खाते के बारे में जानकारी दें</h4>
		<div class="form-group">
	    <label for="bank">बैंक का नाम:</label>
	    <input type="text" name = 'bank' class="form-control" placeholder="optional"></input>
	</div>

<div class="form-group">
	    <label for="acname">खाता धारक का नाम:</label>
	    <input type="text" name = 'acname' class="form-control" placeholder="optional"></input>
	</div>
	<div class="form-group">
	    <label for="ac">खाता संख्या:</label>
	    <input type="text" name = 'ac' class="form-control" placeholder="optional" ></input>
	</div>

	<div class="form-group">
	    <label for="ifsc">IFSC कोड:</label>
	    <input type="text" name = 'ifsc' class="form-control" placeholder="optional"></input>
	</div>
	<br>
	<h4>अपने Paytm और UPI खातों के बारे में जानकारी दें</h4>
	<div class="form-group">
	    <label for="paytm">Paytm मोबाइल नंबर:</label>
	    <input type="text" name = "paytm" class="form-control" placeholder="optional"></input>
	</div>
	<div class="form-group">
	    <label for="upi">UPI नंबर:</label>
	    <input type="text" name = 'upi' class="form-control" placeholder="optional"></input>
	</div>

	<button type="submit" name = 'payment' >भुगतान विवरण जमा करें</button>
</form>
{% else %}
   <h4><b><li><a href='/login'>लॉग इन करें</a></li></b></h4>
   {%endif%}

</div>
{% endblock %}

