{% extends "login/header.html" %}

{% block content %}
<div class ='col-sm-6 col-sm-offset-2'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: blue;
  font-size: 18px;
}

.but {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


button:hover, a:hover {
  opacity: 0.7;
}
</style>

<h3 align='center'>
          <li ><a href = '/confirm_work'>सभी चयनित कार्य देखें</a></li>
          </h3>
   {% csrf_token %}
   {{ warn }}
{% for data in pos %}
 
  <div class="card" style="background-color:#F7EAEB">
  
  <p><button class = "but">{{data.rskill}} के लिए प्रकाशित पोस्ट</button></p>
  <p class="title">पोस्ट ID: {{data.post_id}}</p>
  <p class="title">काम की जगह का पता: <br> {{data.street}}, {{data.location}}</p>
  <p >आप से दूरी: {{data.distance}}km</p>
  <p class="title">कार्य की अवधि: <br>{{data.start_date|date:"d/m/20y"}} - {{data.end_date|date:"d/m/20y"}}</p>
  <p>आवश्यक श्रमिकों की संख्या: {{data.Nworker}}</p>
  <p>वेतन भुगतान का तरीका: {{data.Twork}}</p>
  <p><b>नियोक्ता का नाम: {{data.name}}</b></p>
    {%if data.description%}
   <p>अन्य विवरण: {{data.description}}</p>
    {%endif%}
  <p><button class = "but">नियोक्ता का मोबाइल नंबर: {{data.s_contact}}</button></p>
  
  
  <form method="POST" action="/worker/seepost">
     {% csrf_token %}
     <input name ="post_id" type="number" value={{data.post_id}} hidden></input>
     <input name ="user_id" type="number" value={{user1.user_id}} hidden></input>
     <input name ="worker" type="text" value="{{user1.user.first_name}}" hidden></input>
     <input name ="hirer" type="text" value="{{data.name}}" hidden></input>
     <input name ="userworker" type="text" value={{user1.user.username}} hidden></input>
     <input name ="userhirer" type="text" value={{data.username}} hidden></input>
     <input type="date" name ='end_date' value={{data.end_date|date:"20y-m-d"}} hidden></input>
     <input type="date" name ='start_date' value={{data.start_date|date:"20y-m-d"}} hidden></input>
     <font size = 3.5>
      {%if 'e' in data.temp %}
     <font color = "green"><p><b>आप इस पोस्ट के लिए आवेदन नहीं कर सकते क्योंकि आप इस तिथि पर उपलब्ध नहीं हैं।
     </b></p></font>
     {%endif%}
     {%if 'a' in data.temp %}
     <font color = "green"><p><b>आपने इस पोस्ट के लिए काम करने की पुष्टि दी है (Confirmed)</b></p></font>
     <b><button type="submit" name = 'wchire' >कार्य अनुरोध (request) रद्द करें</button>
     
     {%endif%}
     {%if 'b' in data.temp %}
     <font color = "blue">अनुरोध भेजा गया है</font>
     <font color = "red"><p><b> आपके इस पोस्ट के लिए काम करने की पुष्टि नहीं हुई है (Not Confirmed)</b></p></font>
     <b><button type="submit" name = 'wchire' >कार्य अनुरोध (request) रद्द करें</button>
    {%endif%}
    {%if 'c' in data.temp %} 
    <p><b>नियोक्ता ने आपको इस पोस्ट के लिए काम करने का अनुरोध भेजा है</b></p>
    <b><button type="submit" name = 'whire' >इस पोस्ट के लिए काम करने की पुष्टि दें (Send Confirmation)</button> 
    <b><button type="submit" name = 'wchire' >कार्य अनुरोध (request) रद्द करें</button>
    {%endif%}
    {%if 'd' in data.temp %} 
    <b><button type="submit" name = 'whire' >इस पोस्ट के लिए नियोक्ता को कार्य अनुरोध (request) भेजें</button> 
     {%endif%}   
   </b>
 </font>
  </form>
</div>

    <br><br>
{% endfor %}
  
</div>
{% endblock %}

