{% extends "login/header.html" %}
{% load staticfiles %}

{% block content %}
<div class ='col-sm-8 col-sm-offset-2'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: blue;
  font-size: 18px;
}

.but {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


button:hover, a:hover {
  opacity: 0.7;
}
</style>
<div class="row" >
	<div>
		  <!--<div class="col-sm-6">-->
		  
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
		<div >
			<ul class="nav nav-pills nav-stacked">
         <h4><font color="red">{{warn}}</h4></font>
         <h4> {{warn1}}</h4><br>

        

            {% if request.user.profile.skill1 %}
            <a href = "/login/static/login/workerwithprofile2.pdf" target = "_blank" ><h4><u>उपलब्ध सभी सुविधाओं के बारे में विस्तृत विवरण देखें</u></h4></a>
            <br>
             <h3> आपके सभी विवरण हमारे साथ सुरक्षित हैं </h3>
              <h4><li><b><a href = '/profile'>अपना विवरण देखें--&#9654;</a></b></li></h4>
             <h4>
            <li ><b><a href = '/pupdate_profile' >अपना विवरण बदलें--&#9654;</a></b></li>
            </h4>
            <br>
         


              <h3>आपके लिए सही रोजगार यहां है</h3>
              <h4>
            <li ><b><a href = '/allpost' >सभी उपलब्ध कार्य पोस्ट देखें--&#9654;</a></b></li>
            </h4>
            <h4>
            <li ><b><a href = '/pview' >आपके कौशल से मेल खाने वाले कार्य पोस्ट देखें--&#9654;</a></b></li>
            </h4>
            <h4 >
          <li><b><a href = '/confirm_work'>उन सभी कार्य पोस्ट को देखें जिनके लिए आपका चयन किया गया है--&#9654;</a></b></li>
          </h4>
        </b>
        <br>


          <h3>आपके द्वारा किए गए कार्य के लिए सही भुगतान पाएँ</h3>
          <b>
            <h4> <b><li ><a href = '/payment_detail'>अपेक्षित भुगतान के तरीका का विवरण दें/बदलें--&#9654;</a></li></b></h4>
          <li><h4><b><a href='/hpay'> आपको मिले सभी भुगतान देखें --&#9654;</a></b></h4></li>
            </b>
            <br>

            <h3 >
              अपने काम के बारे में उचित प्रतिक्रिया भी पाएँ और अपने आप में सुधार करें
            </h3>
            <b>
            <h4>
            <li ><b><a href = "/feedback?username={{request.user.username}}">आपको मिली सभी प्रतिक्रियाएँ देखें--&#9654;</a></b></li>
            </h4
            </b>
            <br>
              <form id="cur_location" method="post" action="/view" >
                {% csrf_token %}
                <input type="text" name="address" id="address11" value="N"  hidden />
                <input type="text" name="sms" id="sms11" value="स्थान रिकॉर्ड नहीं हुआ" hidden />
                <input type="number" name="lat" id="lat11" value=0 hidden  />
                <input type="number" name="lng" id="lng11" value=0 hidden/>
                <input type="text" name="time" id="time11" value="N" hidden />
                <button type="button" onclick="getLocation()">अपने वर्तमान स्थान को साझा करें</button>
                </form>
            </b></h4>
            
    		{% else %}
        <h3> आपके सभी विवरण हमारे साथ सुरक्षित हैं </h3>
        <br>
<a href = "/login/static/login/workerwithoutprofile1.pdf" target = "_blank" ><h4><u>उपलब्ध सभी सुविधाओं के बारे में विस्तृत विवरण देखें</u></h4></a>
        <br>
    			<h3>
    			<li ><a href = '/pupdate_profile'>अपना विवरण दर्ज करें</a></li>
    			</h3>
    		{% endif %}
		    </ul>
		</div> <!--well bs-sidebar affix-->
	</div> <!--col-sm-2-->
	
</div>

{% endblock %}
