{% extends "login/header.html" %}
{% load staticfiles %}

{% block content %}
<div class ='col-sm-6 col-sm-offset-2'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: blue;
  font-size: 18px;
}

.but {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


button:hover, a:hover {
  opacity: 0.7;
}
</style>
<b><input type="button" value="&#9664;-- पीछे जाएँ" onclick="history.back(-1)" /></b>
<h4><font color="red">{{warn}}</font></h4>
<div class="card" style="background-color:#F7EAEB">
	
   {% if data.user.first_name %}
  <p><button class = "but">{{data.user.first_name}}</button></p>

  {% if data.rating %}
   (आपकी रेटिंग = {{data.rating}})
   <br>
  {%endif%}
{% if current_address %}
<font color = 'black' size = 3>
 current address:-:<br>
</font>
  <p class="title"> {{current_address.address}}</p>
  <p> स्थान सबमिट करने का समय: {{current_address.time}}</p> 
  <br>
{%endif%}
  <font color = 'black' size = 3>
 पूरा पता:-:<br>
</font>
  <p class="title"> {{data.street}} , {{data.address}}</p>
  <br>
  <font color = 'black' size = 4>
उपलब्धता की अवधि:<br>
</font>
<font color = 'blue' size = 3>
{{data.start_date}}  -  {{data.end_date}}
</font>
<br><br>
 <font color = 'black' size = 4 >
 	कौशल और क्षमताएं:<br>
 </font>
 <font color = 'blue' size = 3>
 {% if data.skill1 %}
 1--&#9656;   <u>{{data.skill1}}</u><br>
 {% if data.description1 %}
  कौशल #1 विवरण:<br>{{data.description1}}<br>{{data.description11}} 
  <br>
  <br>
 	{%endif%}
  {%endif%}
  {% if data.skill2 %}
 2--&#9656;  <u>{{data.skill2}}</u><br>
 {% if data.description2 %}
  कौशल #2 विवरण:<br>{{data.description2}} 
  <br>
  <br>
  {%endif%}
  {%endif%}
  {% if data.skill3 %}
 3--&#9656;  <u>{{data.skill3}}</u><br>
 {% if data.description3 %}
  कौशल #3 विवरण:<br>{{data.description3}}
  <br>
  <br>
  {%endif%}
  {%endif%}
</font>
 	 {% if data.ptype %}
   <font color = 'black' size = 3 >
  भुगतान की अपेक्षित अंतराल<br>
 </font>
 {{data.ptype}}
 <br>
 {%endif%}
<br>
{% if data.description  %}
 <font color = 'black' size = 4 >
 	अन्य विवरण:<br>
 </font>
 <font color = 'blue' size = 3>
 	{{data.description}}<br>
 </font>
{%endif%}
 
 <br>
 <font color = 'black' size = 4 >
  अपेक्षित भुगतान का तरीका:
 </font>
 <br>
 <font color = 'purple' size = 3.5>
 स्वीकार्य भुगतान मोड:-  <b>{{data.mode}}</b>
 <br><br>
{% if data.acname %}
  खाता धारक का नाम: <b>{{data.acname}}</b>
  <br>
  {%endif%}
  {% if data.bank %}
  बैंक का नाम: <b>{{data.bank}}</b>
  <br>
  {%endif%}
  {% if data.ac %}
  खाता संख्या: <b>{{data.ac}}</b>
  <br>
  {%endif%}
  {% if data.ifsc %}
  IFSC कोड: <b>{{data.ifsc}}</b>
  <br>
  <br>
  {%endif%}
  {% if data.paytm %}
  Paytm मोबाइल नंबर: <b>{{data.paytm}}</b>
  <br>
  {%endif%}
  {% if data.upi %}
  UPI नंबर: <b>{{data.upi}}</b>
  <br>
  {%endif%}
</font>
  <p><button class = "but">मोबाइल नंबर: {{data.s_contact}}</button></p>
</div>
	<br>
  <h3 align="center">
            <li ><a href = "/feedback?username={{data}}&target='a'">फीडबैक</a></li>
            </h3>
      
            {%endif%}
		
</div>


{% endblock %}
