{% extends "login/header.html" %}
{% load staticfiles %}

{% block content %}

<div class ='col-sm-6 col-sm-offset-3'>
<h3>यहां अपना योग्यता(Skills) दर्ज करें</h3><br>
<p>{{warn}}</p>

        <!--<meta http-equiv="Content-Type" content="text/html;" /> -->
        


<form method="POST" action="">
{% csrf_token %}

<div class="form-group">
<label for="skill1">कौशल #1 </label>
<select name="skill1" class="form-control" id="skill1" onchange="dynamicdropdown(this.options[this.selectedIndex].value);">
<option value="" selected>इन विकल्पों से कौशल चुनें</option>
<option value="निर्माण मजदूर(Construction worker)">निर्माण मजदूर(Construction worker)</option>
	<option value="बिजली कारीगर(Electrician)">बिजली कारीगर(Electrician)</option>
	<option value="बढ़ई(Carpenter)">बढ़ई(Carpenter)</option>
	<option value="पेंटर(Painter)">पेंटर(Painter)</option>
	<option value="वेल्डर(Welder)">वेल्डर(Welder)</option>
	<option value="पलंबर(Plumber)">पलंबर(Plumber)</option>
	<option value="सफाई कर्मचारी(Cleanliness worker)">सफाई कर्मचारी(Cleanliness worker)</option>
	<option value="दूध वितरक(Milk Supplier)">दूध वितरक(Milk Supplier)</option>
	<option value="राजमिस्री(Mason)">राजमिस्री(Mason)</option>
	<option value="हलवाई(Confectioner)">हलवाई(Confectioner)</option>
	<option value="रसोइया(Cook)">रसोइया(Cook)</option>
	<option value="काँचकर्मी(Glazier)">काँचकर्मी(Glazier)</option>
	<option value="बेकर(baker)">बेकर(baker)</option>
	<option value="सुरक्षा कर्मी(Security guard)">सुरक्षा कर्मी(Security guard)</option>
	<option value="वाहन मिस्त्री(Vehicle Mechanic)">वाहन मिस्त्री(Vehicle Mechanic)</option>
	<option value="फोटोग्राफर(Photographer)">फोटोग्राफर(Photographer)</option>
	<option value="माली(Gardener)">माली(Gardener)</option>
	<option value="नौकरानी(Maid)">नौकरानी(Maid)</option>
</select>
</div>

<div class="form-group">
  <label for="description1">कौशल #1 का विवरण 1:</label>
  		<script type="text/javascript" language="JavaScript">
                document.write('<select name ="description1" class="form-control" id="multiselection"><option value="">इन विकल्पों से चुनें</option></select>')
        </script>
        <noscript>
        	
      <select name ="description1" class="form-control" id="multiselection" >
      	<option value="">इन विकल्पों से चुनें</option>
      </select>
      </noscript>
</div> 

<div class="form-group">
  <label for="description11">कौशल #1 का विवरण 2:</label>
  		<script type="text/javascript" language="JavaScript">
                document.write('<select name ="description11" class="form-control" id="multiselection"><option value="">इन विकल्पों से चुनें</option></select>')
        </script>
        <noscript>
        	
      <select name ="description11" class="form-control" id="multiselection" >
      	<option value="">इन विकल्पों से चुनें</option>
      </select>
      </noscript>
</div> 


<div class="form-group">
<label for="skill2">कौशल #2 </label>
<select name="skill2" class="form-control" id="skill2" onchange="dynamicdropdow(this.options[this.selectedIndex].value);">
<option value="" selected>इन विकल्पों से कौशल चुनें</option>
<option value="निर्माण मजदूर(Construction worker)">निर्माण मजदूर(Construction worker)</option>
	<option value="बिजली कारीगर(Electrician)">बिजली कारीगर(Electrician)</option>
	<option value="बढ़ई(Carpenter)">बढ़ई(Carpenter)</option>
	<option value="पेंटर(Painter)">पेंटर(Painter)</option>
	<option value="वेल्डर(Welder)">वेल्डर(Welder)</option>
	<option value="पलंबर(Plumber)">पलंबर(Plumber)</option>
	<option value="सफाई कर्मचारी(Cleanliness worker)">सफाई कर्मचारी(Cleanliness worker)</option>
	<option value="दूध वितरक(Milk Supplier)">दूध वितरक(Milk Supplier)</option>
	<option value="राजमिस्री(Mason)">राजमिस्री(Mason)</option>
	<option value="हलवाई(Confectioner)">हलवाई(Confectioner)</option>
	<option value="रसोइया(Cook)">रसोइया(Cook)</option>
	<option value="काँचकर्मी(Glazier)">काँचकर्मी(Glazier)</option>
	<option value="बेकर(baker)">बेकर(baker)</option>
	<option value="सुरक्षा कर्मी(Security guard)">सुरक्षा कर्मी(Security guard)</option>
	<option value="वाहन मिस्त्री(Vehicle Mechanic)">वाहन मिस्त्री(Vehicle Mechanic)</option>
	<option value="फोटोग्राफर(Photographer)">फोटोग्राफर(Photographer)</option>
	<option value="माली(Gardener)">माली(Gardener)</option>
	<option value="नौकरानी(Maid)">नौकरानी(Maid)</option>
</select>
</div>

<div class="form-group">
  <label for="description2">कौशल #2 का विवरण:</label>
  		<script type="text/javascript" language="JavaScript">
                document.write('<select name ="description2" class="form-control" id="multiselecti"><option value="">इन विकल्पों से चुनें</option></select>')
        </script>
        <noscript>
        	
      <select name ="description2" class="form-control" id="multiselecti" >
      	<option value="">इन विकल्पों से चुनें</option>
      </select>
      </noscript>
</div>

<div class="form-group">
<label for="skill3">कौशल और क्षमताएं :3 </label>
<input type="text" name="skill3"   class="form-control" id="skill3" value="{{user.profile.skill3}}" optional> </input>
</div>

<div class="form-group">
  <label for="description3">कौशल और क्षमताएं :3 का विवरण</label>
      <input type="text" name ="description3" id="descrition3" placeholder="ऐच्छिक(optional)" class="form-control" value="{{user.profile.description3}}" Optional></input>
    </div> 

<div class="form-group">
  <label for="description">कोई अन्य विवरण(Description about skills)</label>
      <textarea type="text" name ="description" id="descrition" placeholder="ऐच्छिक(optional)" class="form-control" value="{{user.profile.description}}" Optional></textarea>
    </div> 

<button type="submit" name = 'save_changes2'>परिवर्तनों को सुरक्षित करें</button>
</form>
</div>
{% endblock %}
