{% extends "login/header.html" %}

{% block content %}



<div class ='col-sm-6 col-sm-offset-2'>
	<h4> <font color = 'red'>{{warn}}</font> </h4>
<h3>क्या है अपना रोज़गार?</h3><br>

<p >
	<font size = 4>
	अपना रोजगार एक एेसा प्लेटफार्म है जहां पर हर व्यक्ति अपनी कुशलता के अनुसार एक छोटी अवधि के लिये मनचाहा रोज़गार प्राप्त कर सकता है।
	<br><br>
	वर्तमान भारत में कोई भी एेसा प्लेटफार्म नहीं है जहां पर कुशल / अकुशल श्रमिक जो कि विभिन्न क्षेत्रों से जुड़े हुए हैं जैसे निर्माण मजदूर, बिजली कारीगर, बढ़ई, पलंबर, रसोइया आदि एक छोटी अवधि के लिये काम करने के लिए उपलब्ध हों। अपना रोजगार इसी कमी को पूरा करने की एक कोशिश है। 

	</font>
</p>
<br>
<a href = "static/login/registration.pdf" target = "_blank" ><h4>पंजीकरण के लिए निर्देश देखें</h4></a>
<a href = "static/login/login1.pdf" target = "_blank" ><h4>लॉग इन के लिए निर्देश देखें</h4></a>

</div>
{% endblock %}
