{% extends "login/header.html" %}

{% block content %}



<div class ='col-sm-8 col-sm-offset-1'>
	<h4> <font color = 'red'>{{warn}}</font> </h4>
<h3>नियोक्ता के लिए</h3>
<h4> <font color = "red">सही कर्मचारी मिलने से आसान होंगे अब आपके सभी काम</font></h4> 
<p> अपना रोज़गार एक एेसा मंच है जहां पर कुशल / अकुशल श्रमिक जो कि विभिन्न क्षेत्रों से जुड़े हुए हैं जैसे निर्माण मजदूर, बिजली कारीगर, बढ़ई, पलंबर, रसोइया आदि एक छोटी अवधि के लिये काम करने के लिए उपलब्ध हैं। कोई भी नियोक्ता इन श्रमिकों को इस मंच के माध्यम से काम के लिए बुला सकता है। </p>
<img src = "/login/static/login/img/hirer1.jpg" style = "width:270px;height:185px;"></img>
<img src = "/login/static/login/img/worker1.jpg" style = "width:270px;height:185px;"></img>
<h3>कर्मचारी के लिए</h3>
<h4> <font color = "red">अपनी पसंद का रोजगार पाना अब हमारे माध्यम से हुआ आसान</font></h4> 
<p>यहाँ हर श्रमिक अपनी कुशलता के अनुसार एक छोटी अवधि के लिये मनचाहा रोज़गार प्राप्त कर सकता है। हमें अपने कौशल का विवरण दें और अपनी पसंद का काम ढूंढें।</p>
<img src = "/login/static/login/img/worker2.jpg" style = "width:270px;height:185px;"></img>
<img src = "/login/static/login/img/worker6.jpg" style = "width:270px;height:185px;"></img>
<br>
<a href = "/login/static/login/registration.pdf" target = "_blank" ><h4>पंजीकरण के लिए निर्देश देखें</h4></a>
<a href = "/login/static/login/login1.pdf" target = "_blank" ><h4>लॉग इन के लिए निर्देश देखें</h4></a>
<a href = "/login/static/login/Apnarozgar.apk" target = "_blank" ><h4><b>अपना-रोज़गार ऐप (Android APP)</b></h4></a>

</div>
{% endblock %}
