{% extends "login/header.html" %}

{% block content %}



<div class ='col-sm-8 col-sm-offset-1'>
	<h4> <font color = 'red'>{{warn}}</font> </h4>
	<h3> <p>ROJAPP के बारे में किसी भी जानकारी के लिए हमसे संपर्क करें।</p></h3>
	<br>

<ul>
	<li><h4>ROJAPP के व्यापार और बिक्री के अधिकार निम्नलिखित कंपनी के पास हैं:</h4>
		<h4><font color = "red">Annadatta Mahatta Infotech (AMIT) Pvt. Ltd.</font></h4>
		<ul>
			<li><b>Amit Karawat, Director </b><br>
				Email: vglobalamit@rediffmail.com<br>
				Mobile: 9893036536<br>
			</li>
			<br>
			<li><b>Sharad Jain, Director</b><br>
				Email: sharadjain0017@rediffmail.com<br>
				Mobile: 9826450355<br>
			</li>
		</ul>
		<br>
		Address: 207, Bafna Arcade, 7/1 Race Course Road, Indore (MP) 452001
	</li>
	<br>
	<li><h4>ROJAPP का विकास, उन्नयन और रखरखाव निम्नलिखित द्वारा किया जाता है:</h4>
		<ul>
			<li><b>Ankit Arora</b><br>
				Address: Numaish Camp, Saharanpur (UP) 247001 <br>
				Email: ankit280895@gmail.com<br>
				Mobile: 9005285986<br>
			</li>
			<br>
			<li><b>Ram Narayan Mishra</b><br>
				Address: Khakhardei, Amethi (UP) 227411 <br>
				Email: ramnarayanamethi@gmail.com<br>
				Mobile: 8601867011<br>
			</li>
		</ul>	

		<br>
		<font align = "center">under the supervision of Dr. Neetesh Purohit.</font>
	</li>

</ul>



<br>


</div>
{% endblock %}
