{% extends "login/header.html" %}

{% block content %}



<div class ='col-sm-8 col-sm-offset-1'>
	<h4> <font color = 'red'>{{warn}}</font> </h4>
	<h3 align = 'center'> <font color = "black" >Supervisor</font></h4>
	<h4 align = 'center'> <font color = "black" >Dr. Neetesh Purohit</font></h4> 
	<h4 align = 'center'> <font color = "green">E-mail: np@iiita.ac.in</font></h4>
<br>
<h3 align = 'center'> <font color = "black" >Developers</font></h4>

<h4 align = "center"><font color = "black"> Ram Narayan Mishra</font></h4>
 <h4 align = 'center'> <font color = "green">E-mail: iec2014094@iiita.ac.in</font></h4>
<br>

<h4 align = 'center'> <font color = "black">Ankit Arora</font></h4>
 <h4 align = 'center'> <font color = "green">E-mail: iec2014080@iiita.ac.in</font></h4>
</ul>



<br>


</div>
{% endblock %}
