{% extends "login/header.html" %}

{% block content %}


<div class ='col-sm-6 col-sm-offset-2'>
<h3><u>लॉग इन करें:</u></h3>
<a href = "/login/static/login/login1.pdf" target = "_blank" ><h4><u>लॉग इन के लिए निर्देश देखें</u></h4></a><br>
<h4 > <font color="red"> {{warn}} </font></h4>
<form method="POST" action="/login">
{% csrf_token %}
<div class="form-group">
    <label for="username">अपना मोबाइल नंबर(Mobile Number)/ईमेल (Email-id) दर्ज करें</label>
    <div style = "background: url(/login/static/login/img/ph.png) no-repeat scroll 0px 5px; padding-left:40px; padding-top: 5px; padding-bottom: 10px; width: 100%; ">
    <input type="text" name = 'username' class="form-control" id="username"  placeholder="मोबाइल नंबर (Mobile Number)/ ईमेल (Email-id)" autocomplete="off">
	</div>
</div>
<div class="form-group">
    <label for="password">अपना पासवर्ड (Password) डालें</label>
    <div style = "background: url(/login/static/login/img/password1.png) no-repeat scroll 0px 0px; padding-left:45px; width: 100%; padding-top: 5px ">
    <input type="password" name = 'password' class="form-control" id="password" placeholder="पासवर्ड (password)" autocomplete="off">
	</div>
</div>
<br>
<div class="form-group" style = " ">
<input type="radio" name="loginas" value="worker"  style = "width :1.5em; height:1.5em;" checked><font size = 4.5> कर्मचारी (Worker)</font><br>
<input type="radio" name="loginas" value="contractor" style = "width :1.5em; height:1.5em;"><font size = 4.5> ठेकेदार (Contractor)</font><br>
  <input type="radio" name="loginas" value="hirer" style = "width :1.5em; height:1.5em;"><font size = 4.5> नियोक्ता (Hirer)</font><br>


</div>
<button type="submit" name = 'btn1'><font size = 4>लॉग इन (Login) करें</font></button>
</form>
</div>
{% endblock %}


