{% extends "login/header.html" %}

{% block content %}
<div class ='col-sm-6 col-sm-offset-3'>
<h3><u>लॉग इन करें :</u></h3><br>
<h4 > <font color="red"> {{warn}} </font></h4>
<form method="POST" action="">
{% csrf_token %}
<div class="form-group">
    <label for="username">अपना मोबाइल नंबर(Mobile Number)/ईमेल (Email-id) दर्ज करें</label>
    <input type="text" name = 'username' class="form-control" id="username"  placeholder="मोबाइल नंबर (Mobile Number)/ ईमेल (Email-id)" >
</div>
<div class="form-group">
    <label for="password">अपना पासवर्ड (Password) डालें</label>
    <input type="password" name = 'password' class="form-control" id="password" placeholder="पासवर्ड (password)">
</div>
<div class="form-group">
<input type="radio" name="loginas" value="worker" checked><b>कर्मचारी (Worker)</b><br>
  <input type="radio" name="loginas" value="hirer"><b> नियोक्ता (Hirer)</b><br>
</div>
<button type="submit" name = 'btn1'><b>लॉग इन (Login) करें</b></button>
</form>
</div>
{% endblock %}


