{% extends "login/header.html" %}
{% load staticfiles %}

{% block content %}
<div class ='col-sm-6 col-sm-offset-2'>
<h3><u>वेबसाइट / ऐप के बारे में तकनीकी समस्या दर्ज करे:</u></h3>
<br>

   <h4> <font color = 'red'>{{warn}}</font> </h4>
 <form method="POST" action="">
 {% csrf_token %}

   <input type="text" name = 'username'  id="username" value="{{request.user.username}}" hidden></input>
 
 <input type="text" name ='name' id="name" value="{{request.user.first_name}}" hidden ></input>
 <div class="form-group">
    <label for="problem">आपकी तकनीकी समस्या :</label>
    <textarea type="text" name = 'problem' class="form-control" id="problem"   required> </textarea>
</div>
 
<button type="submit" name = 'btn1'><b>अपनी समस्या भेजें</b></button>
</form>
</div>
{% endblock %}


