{% extends "login/header.html" %}

{% block content %}
<div class ='col-sm-6 col-sm-offset-3'>
<h3><u>उपयोगकर्ता पंजीकरण (Registration) :<u></h3>
<br>
 <h4> {{warn}} </h4>
 <form method="POST" action="">
 {% csrf_token %}
 <div class="form-group">
    <label for="username"><b>अपना मोबाइल नंबर (Mobile Number)/ईमेल(Email) दर्ज करें :</b></label>
    <input type="text" name = 'username' class="form-control" id="username" placeholder="मोबाइल नंबर (Mobile Number)/ईमेल (Email)">
 </div>
 <div class="form-group">
    <label for="aadhar">आधार नंबर (Aadhar Number) :</label>
    <input type="text" name = 'last_name' class="form-control" id="last_name" placeholder="आधार नंबर (Aadhar Number)">
 </div>

<button type="submit" name = 'btn'><b>ओटीपी(OTP) प्राप्त करें</b></button>
</form>
</div>
{% endblock %}


