{% extends "login/header.html" %}

{% block content %}
<div class ='col-sm-6 col-sm-offset-3'>
<h3><u>उपयोगकर्ता पंजीकरण (Registration) :<u></h3>
<br>
 <h4><font color = 'red'> {{warn}}</font> </h4>
 <form method="POST" action="">
 {% csrf_token %}
 <div class="form-group">
    <label for="username"><b>अपना मोबाइल नंबर (Mobile Number)/ईमेल(Email) दर्ज करें :</b></label><br>
    <div style = "background: url(static/login/img/phon12.png) no-repeat scroll 0px 10px; padding-left:40px; padding-top: 5px; padding-bottom: 10px; width: 100%; ">
    <input type="text" name = 'username' class="form-control" id="username" placeholder="मोबाइल नंबर (Mobile Number)/ईमेल (Email)" required>
	</div>
 </div>
 <div class="form-group">
    <label for="aadhar">आधार नंबर (Aadhar Number) :</label><br>
    <div style = "background: url(static/login/img/aadhaar.png) no-repeat scroll 0px 10px; padding-left:40px; width: 100%; padding-top: 5px ">
    <input type="text" name = 'aadhar' class="form-control" id="aadhar"  placeholder="आधार नंबर (Aadhar Number)" required>
 	</div>
 </div>

<button type="submit" name = 'btn'><b>ओटीपी(OTP) प्राप्त करें</b></button>
</form>
</div>
{% endblock %}


