{% extends "login/header.html" %}
{% load staticfiles %}

{% block content %}
<div class ='col-sm-6 col-sm-offset-3'>
<h3><u>पंजीकरण (Registration) :</u></h3>
   <h4> <font color = 'red'>{{warn}}</font> </h4>
 <form method="POST" action="">
 {% csrf_token %}
 <div class="form-group">
    <label for="username"> उपयोगकर्ता नाम (User Name):</label>
    <input type="text" name = 'username' class="form-control" id="username" value="{{mobile}}" readonly>
 </div>
 <input type="text" name ='last_name' id="last_name" value="{{aadhar}}" hidden readonly></input>
 <div class="form-group">
    <label for="otp">ओटीपी(OTP) दर्ज करें</label>
    <input type="text" name = 'otp' class="form-control" id="contact" value="{{otp}}" placeholder="ओटीपी(otp)" required>
</div>
 <div class="form-group">
    <label for="first_name">पूरा नाम (Full Name) दर्ज करें :</label>
    <input type="text"  name = 'first_name' class="form-control" id="first_name" placeholder="पूरा नाम(Full_name)" required>
</div>

<div class="form-group">
    <label for="password">अपना पासवर्ड (Password) चुनें :</label>
    <input type="password"  name = 'password' class="form-control" id="password" placeholder="पासवर्ड(password)" required >
</div>
<button type="submit" name = 'btn1'><b>पंजीकरण(Regitration) करे</b></button>
</form>
</div>
{% endblock %}


