{% extends "login/header.html" %}

{% block content %}

<div class ='col-sm-6 col-sm-offset-2'>
 {% if request.user.username%}
 <h3>विभिन्न कौशल रखने वाले सभी कर्मचारी हमारे माध्यम से उपलब्ध हैं</h3>
  <h4><b><a href='/search'>कर्मचारी खोजने के लिए, यहां क्लिक करे --&#9654;</a></li></b></h4> 	
   <br>
   <h3>अपने काम के बारे में विस्तृत विवरण देकर आप एक पोस्ट प्रकाशित कर सकते हैं</h3>
  <h4><b><a href='/work_post'>कार्य पोस्ट प्रकाशित करें --&#9654;</a></li></b></h4>
   <br>
   <h3>आपके सभी प्रकाशित कार्य पोस्ट हमारे साथ सुरक्षित हैं</h3>
  <h4><b><a href='/see_work_post'>प्रकाशित की गईं कार्य पोस्ट देखें और कर्मचारी खोजें --&#9654;</a></li></b></h4>   
   {% else %}
   <h4><b><a href='/login'>लॉग इन करें</a></b></h4>
   {%endif%}
</div>
{% endblock %}

