{% extends "login/header.html" %}

{% block content %}

<div class ='col-sm-6 col-sm-offset-3'>
 {% if request.user.username%}
  <h4><b><li><a href='/search'>कार्य आवश्यकता के अनुसार कर्मचारी को ढूंढें (Find the worker as per work requirement)</a></li></b></h4>
   <br>
  <h4><b><li><a href='/work_post'>काम का विवरण भरें (Fill the detail of work)</a></li></b></h4>
   <br>
  <h4><b><li><a href='/see_work_post'>सभी काम का विवरण देखें (See the details of all work)</a></li></b></h4>   
   {% else %}
   <h4><b><li><a href='/login'>लॉग इन करें</a></li></b></h4>
   {%endif%}
</div>
{% endblock %}

