{% extends "login/header.html" %}

{% block content %}
<div class ='col-sm-6 col-sm-offset-2'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: blue;
  font-size: 18px;
}

.but {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


button:hover, a:hover {
  opacity: 0.7;
}
</style>

<h3>परिणाम (Results): </h3>    <br>
   {% csrf_token %}
   {{ warn }}
{% for data in pos %}
 
  <div class="card" style="background-color:#F7EAEB">
  
  <h2>श्रमिक में आवश्यक कौशल: <br> {{data.rskill}}</h2>
  <p class="title">आपका पता: {{data.street}} , {{data.location}}</p>
  <p class="title">Duration: {{data.start_date}} - {{data.end_date}}</p>
  <p>worker required: {{data.Nworker}}</p>
  <p>Type of work: {{data.Twork}}</p>
    {%if data.description%}
   <p>description: {{data.description}}</p>
    {%endif%}
  <p><button class = "but">आपका मोबाइल नंबर: {{data.s_contact}}</button></p>
  </div>
  <form method="POST" action="">
     {% csrf_token %}
     <input name ="post_id" type="number" value={{data.post_id}} hidden></input>
     <b><button type="submit" name = 'edit' >edit</button>
     <button type="submit" name = 'delete' >delete</button>
     {%if "private" in data.status%}
     <button type="submit" name = 'status' >public</button>
     {%else%}
     <button type="submit" name = 'status' >private</button>
     {%endif%}
   </b>
  </form>
    <br>
{% endfor %}
  
</div>
{% endblock %}

