
  {% extends "login/header.html" %}

{% block content %}
<div class ='col-sm-6 col-sm-offset-2'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: blue;
  font-size: 18px;
}

.but {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


button:hover, a:hover {
  opacity: 0.7;
}
</style>

<form method="GET" action="/see_work_post">
     {% csrf_token %}
     <input name ="post_id" type="number" value={{dat.post_id}} hidden></input>
     <input name ="page" type="number" value={{page}} hidden></input>
     <font size = 3.5 color = "purple"><b><button type="submit" name ='gotopost'>पोस्ट पर वापस जाएं</button></b></font>
     <br><br><br>
 </form>
   {% csrf_token %}
   <h4><font color="red">{{ warn }}</font></h4>
{% for data in users %}
  <div class="card">
  
  <h2><a href="/seeworker/?data={{data.user_id}}">{{data.user.first_name}}</a></h2>
  <p class="title">{{data.address}}</p>
  <p>आपसे श्रमिक की दूरी: {{data.age}} km</p>
  <p><button class = "but">मोबाइल नंबर: {{data.s_contact}}</button></p>
  
    <form method="GET" action="/see_work_post">
     {% csrf_token %}
     <input name ="post_id" type="number" value={{dat.post_id}} hidden></input>
     <input name ="user_id" type="number" value={{data.user_id}} hidden></input>
     <input name ="worker" type="text" value="{{data.user.first_name}}" hidden></input>
     <input name ="hirer" type="text" value="{{dat.name}}" hidden></input>
     <input name ="userworker" type="text" value={{data}} hidden></input>
     <input name ="userhirer" type="text" value={{dat.username}} hidden></input>
     <input type="date" name ='end_date' value={{dat.end_date|date:"20y-m-d"}} hidden></input>
     <input type="date" name ='start_date' value={{dat.start_date|date:"20y-m-d"}} hidden></input>
     <input name ="page" type="number" value={{page}} hidden></input>
     <input name ="rpage" type="number" value={{users.number}} hidden></input>
    <font size = 3.5>
      {%if "e" in data.joinrequest %}
     <font color = "green"><p><b>श्रमिक इस तिथि पर उपलब्ध नहीं है।</b></p></font>
     {%endif%}
     {%if "a" in data.joinrequest %}
     <font color = "green"><p><b>कर्मचारी ने इस पोस्ट के लिए काम करने की पुष्टि दी है (Confirmed)</b></p></font>
     <b><button type="submit" name = 'chire' >कार्य अनुरोध (request) रद्द करें</button>
     
     {%endif%}
     {%if "b" in data.joinrequest %}
     <font color = "red"><p><b>इस पोस्ट के लिए काम करने की पुष्टि नहीं हुई है (Not Confirmed)</b></p></font>
     <b><button type="submit" name = 'chire' >कार्य अनुरोध (request) रद्द करें</button>
    {%endif%}
    {%if "c" in data.joinrequest %} 
    <p><b>कर्मचारी ने आपको इस पोस्ट के लिए काम करने का अनुरोध भेजा है</b></p>
     <b><button type="submit" name = 'hire' >कार्य अनुरोध (request) स्वीकार करें</button> 
      <b><button type="submit" name = 'chire' >कार्य अनुरोध (request) रद्द करें</button>
    {%endif%}
      {%if "d" in data.joinrequest %} 
    <b><button type="submit" name = 'hire' >कार्य अनुरोध (request) भेजें</button> 
     {%endif%}
     </font>
   </b>
  </form>

  </div>
      <br>
{% endfor %}

<b>
  <div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
            <a href="?rpage={{ users.previous_page_number }}&page={{page}}&post_id={{dat.post_id}}&search=">&#9664;-- पिछला&nbsp;&nbsp; </a>
        {% endif %}

        <span class="current">
             page {{ users.number }} of {{ users.paginator.num_pages }}
        </span>

        {% if users.has_next %}
             <a href="?rpage={{users.next_page_number}}&page={{page}}&post_id={{dat.post_id}}&search=">&nbsp;&nbsp;अगला --&#9654;  </a>
        {% endif %}
    </span>
</div>

  </b>

</div>
{% endblock %}

