{% extends "login/header.html" %}

{% block content %}

 
<div class ='col-sm-6 col-sm-offset-3'>
	<h4><font color="red"> {{ warn }}</font></h4>
	<h4><b><a href='/login'>&#9664;-- <u>अपना विवरण देखें :</u></a></b></h4>
<h3><u>कृपया नीचे दिए गए फ़ील्ड भरें:</u></h3><br>
<form method="POST" action="search">
   {% csrf_token %}
	<div class="form-group">
	<label for="skill">&#9679; कौशल और क्षमताएं </label>
	<select name="skill"   class="form-control" id="skill">
	<option value="निर्माण मजदूर(Construction worker)">निर्माण मजदूर(Construction worker)</option>
	<option value="छोटे पैमाने पर बिजली कारीगर(Small-scale electrician)">छोटे पैमाने पर बिजली कारीगर(Small-scale electrician)</option>
	<option value="बड़े पैमाने पर बिजली कारीगर(Large-scale electrician)">बड़े पैमाने पर बिजली कारीगर(Large-scale electrician)</option>
	<option value="बढ़ई(Carpenter)">बढ़ई(Carpenter)</option>
	<option value="पेंटर(Painter)">पेंटर(Painter)</option>
	<option value="वेल्डर(Welder)">वेल्डर(Welder)</option>
	<option value="पलंबर(Plumber)">पलंबर(Plumber)</option>
	<option value="सफाई कर्मचारी(Cleanliness worker)">सफाई कर्मचारी(Cleanliness worker)</option>
	<option value="दूध वितरक(Milk Supplier)">दूध वितरक(Milk Supplier)</option>
	<option value="राजमिस्री(Mason)">राजमिस्री(Mason)</option>
	<option value="हलवाई(Confectioner)">हलवाई(Confectioner)</option>
	<option value="रसोइया(Cook)">रसोइया(Cook)</option>
	<option value="काँचकर्मी(Glazier)">काँचकर्मी(Glazier)</option>
	<option value="बेकर(baker)">बेकर(baker)</option>
	<option value="सुरक्षा कर्मी(Security guard)">सुरक्षा कर्मी(Security guard)</option>
	<option value="वाहन मिस्त्री(Vehicle Mechanic)">वाहन मिस्त्री(Vehicle Mechanic)</option>
	<option value="फोटोग्राफर(Photographer)">फोटोग्राफर(Photographer)</option>
	<option value="नाई(Barber)">नाई(Barber)</option>
	<option value="कुम्हार(Potter)">कुम्हार(Potter)</option>
	<option value="माली(Gardener)">माली(Gardener)</option>
	<option value="नौकरानी(Maid)">नौकरानी(Maid)</option>
	</select>
	</div>

	<div class="form-group">
	  <label for="address">&#9679; पूरा पता(Address)</label>
	      <input name ="address" id="autocomplete" class="form-control" type="text" placeholder="पता(Adress)" required></input>
	</div> 
      <input name ="lat" id="latdata" type="number" step="any" value=0 hidden></input>
      <input name ="lng" id="lngdata" type="number" step="any" value=0 hidden></input>

	<button type="submit" name = 'btn' onclick="latlngcal()" > <b>कर्मचारी ढूंढे --</b>&#9654;</button>
</form>
</div>
{% endblock %}

