{% extends "login/header.html" %}

{% block content %}
<div class ='col-sm-6 col-sm-offset-2'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: blue;
  font-size: 18px;
}

.but {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


button:hover, a:hover {
  opacity: 0.7;
}

.btn-group button {
    background-color: #C7CADA; /* Green background */
    border: 1px solid green; /* Green border */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}
</style>
<h4><b><a href='/see_work_post?page={{page}}'><u>अब तक आपके द्वारा प्रकाशित की गईं पोस्ट देखें, संशोधित करें और तदनुसार कर्मचारी खोजें :-</u></a></b></h4> 

   <h4><font color="red"> {{ warn }}</font></h4>

  <div class="card" style="background-color:#F7EAEB">
  
  <p><button class = "but">{{data.rskill}} के लिए प्रकाशित पोस्ट</button></p>
  <p class="title">पोस्ट ID: {{data.post_id}}</p>
  <p class="title">काम की जगह का पता: <br>{{data.street}}, {{data.location}}</p>
  <p class="title">कार्य की अवधि: <br>{{data.start_date|date:"d/m/20y"}} - {{data.end_date|date:"d/m/20y"}}</p>
 <p>आवश्यक श्रमिकों की संख्या: {{data.Nworker}}</p>
  <p>वेतन भुगतान का तरीका: {{data.Twork}}</p>
    {%if data.description%}
   <p>अन्य विवरण: {{data.description}}</p>
    {%endif%}
  <p><button class = "but">आपका मोबाइल नंबर (<b>{{data.name}}</b>) :- {{data.s_contact}}</button></p>
  <form method="GET" action="/see_work_post">
     {% csrf_token %}
     <div class = "btn-group"><font size = 4>
     <input name ="post_id" type="number" value={{data.post_id}} hidden></input>
      <input name ="page" type="number" value={{page}} hidden></input>
     <b><button type="submit" name = 'delete' >पोस्ट को हटा दें (Delete)</button>
      {%if "private" in data.status%}
     <button type="submit" name = 'status' >सार्वजनिक (public) पोस्ट बनाएं</button>
     {%else%}
     <button type="submit" name = 'status' >इसे निजी (private) पोस्ट बनाएं</button>
     {%endif%}
     <button type="submit" name = 'selected' >इस पोस्ट के लिए चयनित श्रमिक देखें</button>
     <button type="submit" name = 'edit' style = "width : 40% ">पोस्ट में बदलाव करे</button>
     <button type="submit" name = 'search' style = "width: 100%">कर्मचारी ढूंढे</button>
   </b>
 </font>
</div>
  </form>
</div>
    <br>
<br>
<ol>
     {% for data1 in selected %}
     <h3><li><a href="/search/?data={{data1.user_id}}">{{data1.worker}}</a> को इस पोस्ट के लिए उचित माना गया है।</li></h3>
     <form method="POST" action="/see_work_post">
     {% csrf_token %}
     <input name ="post_id" type="number" value={{data1.post_id}} hidden></input>
     <input name ="user_id" type="number" value={{data1.user_id}} hidden></input>
      <input name ="page" type="number" value={{page}} hidden></input>
     <font size = 3.5>
     <font color = "green"><p><b>कर्मचारी ने इस पोस्ट के लिए काम करने की पुष्टि दी है (Confirmed)</b></p></font>
     <b><button type="submit" name = 'schire' >कार्य अनुरोध (request) रद्द करें</button> 
   </b>
 </font>
  </form>
<br>
{% if "a" in data1.done %}
      <h4> भुगतान की पुष्टि नहीं हुई</h4>
      {% elif "b" in data1.done %}
      <h4> भुगतान की पुष्टि हुई</h4>
      {%else%}
  <form method="GET" action="/done">
     {% csrf_token %}

     <input name ="post_id" type="number" value={{data1.post_id}} hidden></input>
     <input name ="user_id" type="number" value={{data1.user_id}} hidden></input>
      <input name ="page" type="number" value={{page}} hidden></input>
     <b><button type="submit" name = 'done' > प्रतिक्रिया (Feedback) और भुगतान विवरण दें</button> 
   </b>
 </font>
  </form>
{%endif%}
     </h2><br>
     {% endfor %}
   </ol>
     
</div>
{% endblock %}

