{% extends "login/header.html" %}

{% block content %}
<div class ='col-sm-6 col-sm-offset-2'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: blue;
  font-size: 18px;
}

.but {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


button:hover, a:hover {
  opacity: 0.7;
}

.btn-group button {
    background-color: #C7CADA; /* Green background */
    border: 1px solid green; /* Green border */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}
</style>


   <h4><font color="red"> {{ warn }}</font></h4>

  <div class="card" style="background-color:#F7EAEB">
  
  
</div>
    <br>
     {% for data1 in data%}
     <h2>
     <h2><a href="/search/?data={{data1.user_id}}">worker="{{data1.worker}}"</a></h2>
     <h2><a href="/detailpost/?data={{data1.post_id}}">post="{{data1.hirer}}"</a></h2>
     <form method="POST" action="/workrequest">
     {% csrf_token %}
     <input name ="post_id" type="number" value={{data1.post_id}} hidden></input>
     <input name ="user_id" type="number" value={{data1.user_id}} hidden></input>
     <input name ="worker" type="text" value={{data1.worker}} hidden></input>
     <input name ="hirer" type="text" value={{data1.hirer}} hidden></input>
     <input name ="userworker" type="text" value={{data1.userworker}} hidden></input>
     <input name ="userhirer" type="text" value={{data1.userhirer}} hidden></input>
     {%if "a" in data1.temp %}
     <p><b> join request confirm</b></p>
     <b><button type="submit" name = 'hchire' >कार्य अनुरोध (request) रद्द करें</button>
     
     {%endif%}
     {%if "b" in data1.temp %}
     <p><b> join request Not confirm</b></p>
     <b><button type="submit" name = 'hchire' >कार्य अनुरोध (request) रद्द करें</button>
    {%endif%}
    {%if "c" in data1.temp %} 
    <p><b> worker sent join request</b></p>
     <b><button type="submit" name = 'hhire' >कार्य अनुरोध (request) भेजें</button> 
    {%endif%}   
   </b>
  </form>

     </h2><br>
     {% endfor %}
     
</div>
{% endblock %}

